@font-face {
  font-family: "iconfont"; /* Project id 2709423 */
  src: url('iconfont.woff2?t=1627548957202') format('woff2'),
       url('iconfont.woff?t=1627548957202') format('woff'),
       url('iconfont.ttf?t=1627548957202') format('truetype');
}

 .iconfont {
  font-family: "iconfont" !important;
  font-size: 12px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 



.el-icon-myzhongzhi:before {
  content: "\e61c";
}

